<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.pyrusservicedesk">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <activity
            android:name="net.papirus.pyrusservicedesk.ui.usecases.tickets.TicketsActivity"
            android:launchMode="singleTask"/>

        <activity android:name="net.papirus.pyrusservicedesk.ui.usecases.ticket.TicketActivity"/>

        <activity android:name="net.papirus.pyrusservicedesk.ui.usecases.file_preview.FilePreviewActivity"/>

    </application>

</manifest>
