<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--Android 11 queries-->
    <queries>

        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>

        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>

    </queries>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application>

        <activity
            android:name="com.pyrus.pyrusservicedesk.presentation.ui.navigation_page.ticket.TicketActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/PyrusServiceDesk.Dialog"/>


        <activity
            android:name="com.pyrus.pyrusservicedesk._ref.ui_domain.screens.ticket.MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/PyrusServiceDesk.Dialog"/>

        <activity
            android:name="com.pyrus.pyrusservicedesk._ref.ui_domain.screens.file_preview.FilePreviewActivity"
            android:theme="@style/PyrusServiceDesk.Dialog"/>

        <provider
            android:name=".sdk.PSDFileProvider"
            android:authorities="${applicationId}.com.pyrus.pyrusservicedesk.sdk.PSDFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/pyrusservicedesk_file_provider_paths" />
        </provider>

    </application>

</manifest>
